<!-- <table style="margin:10px" class="table table-borderd table-hover table-dark">
  <thead>
    <tr>
      <th>Body</th>
      <th>Id</th>
      <th>Title</th>
      <th>UserID</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of customersArray">
      <td>{{item.body}}</td>
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.userId}}</td>

    </tr>
  </tbody>
</table> -->


<div style="padding-left: 200px; padding-right: 200px; margin-top: 10px">
  <table class="table table-borderd table-hover table-dark">
    <thead>
      <tr>
        <th>CustomerID</th>
        <th>CompanyName</th>
        <th>ContanctName</th>
        <th>Address</th>
        <th>ContactTitle</th>
        <th>ID</th>
      </tr>
    </thead>

    <!-- Address: "UK"
CompanyName: "Google"
ContactName: "James"
ContactTitle: "Product Owner"
CustomerID: "1"
id: 1 -->
    <tbody>
      <tr *ngFor="let item of localCustomers">
        <td>{{ item.CustomerID }}</td>
        <td>{{ item.CompanyName }}</td>
        <td>{{ item.ContactName }}</td>
        <td>{{ item.Address }}</td>
        <td>{{ item.ContactTitle }}</td>
        <td>{{ item.id }}</td>
      </tr>
    </tbody>
  </table>

  <div>
    <button class="btn btn-primary" (click)="SubmitCustomer()">Insert</button> | 
    <button class="btn btn-secondary" (click)="UpdateCustomer()">Update</button> |
    <button class="btn btn-success" (click)="PatchCustomer()">Patch</button> |
    <button class="btn btn-danger" (click)="DeleteCustomer()">Delete</button>
  </div>
</div>
